


body {margin: 0px;
padding: 0px;
}



.header {width: 1440px;
height: 568px;
background-color: #74C69D;
}

.imgandstart {display: flex;
    align-items: center;
padding-left: 135px;
gap: 18px;
}

.imgandstart p{font-size: 40px;
color: #FFFFFF;}

.Contact {display: flex; 
margin-left: 597px;
margin-top: 8px;
}
.Contact a{
    padding: 30px;
    color: #FFFFFF ;
font-size: 20px;
}

.mage {display: flex;
flex-direction: row-reverse;
justify-content:space-around;}

.main-text{font-size: 16px;
color: #FFFFFF;
padding: 47px;
padding-right: 10px;
}

.Loremipsum{font-size: 40px;
line-height: 125%;
max-width: 416px; 
color: #FFFFFF;
display: inline-block;
font-family: Crimson+Text;
}

.smtext {font-size: 15px;
line-height: 125%;
max-width: 416px;
}

button {background-color: #FFFFFF;
width: 170px;
height: 48px;
border-radius: 5px;
font-size: 20px;
color: #000000;
border: none;
}

.button {padding-top: 25px;}
 


.boardwhite {max-width: 1440px;
}

.frame {width: 1159px;
    margin-left: 141px ;
    padding-top: 135px;
    

}




.smblock {
width: 411px;
margin-left: 380px;
    text-align: center;
display: inline-block;
line-height: 1.25;
box-sizing: content-box;
}

.partners {color: #74C69D;
font-size: 16px;
}


.LoremIpsum {font-size: 40px;
    font-family: Crimson+Text;
    
}

.smolltext {font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: inline-block;
padding-top: 16px;
}



.sotialimage {display: flex; 
align-items: center;
justify-content: center;
gap: 68px;
margin-top: 55px;}



#Learn-More {background-color: #000000;
width: 170px;
height: 48px;
border-radius: 5px;
font-size: 20px;
color: #ffffff;
border: none;
}


.button-black {display: flex;
justify-content: center;
padding-top: 55px;}


.frame15 {padding: 75px;
display: flex;
justify-content: space-around;

}

.title{width: 470px;}

.TEAM {color: #74C69D;
font-size: 16px;
margin-bottom: 16px;}

.frame15 p{font-size: 40px;
line-height: 1.25;

}

#smtext {font-size: 16px;
    line-height: 1.25;
    padding-bottom: 16px;
    padding-top: 16px;
}

.copirate-frame15 {padding: 75px;
display: flex;
justify-content: space-around;
flex-direction: row-reverse;
font-size: 40px;
line-height: 1.25;}


.corosel {padding-top: 45px;
     display: flex;
align-items: center;
justify-content: center;
margin-top: 45px;
}

.card {margin-top: 70px;
  width: 279px;
  height: 300px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

#pokemon {width: 175px; height: 175px;
}


.card {padding-left: 50px;
padding-top: 20px;}


.card h3{padding-top: 20px;
font-size: 24px;}
.card p {padding-top: 20px;
font-size: 15px;}

input {width: 575px;
margin-bottom: 62px;}





.Foter {width: 1440px;}

.ContactUS p{font-size: 20px;
    line-height: 1.25;
    text-align: center;
    padding-bottom: 16px;

}

#Contact {font-size: 40px;
font-family: Crimson+Text;}

#search {height: 75px;}

.login-form {margin-left: 130px;
margin-top: 67px;
font-size: 20px;
padding-bottom: 20px;

}


.submit {background-color: #000000;
color: white;
width: 575px;
margin-top: 21px;
}

.map {width: 1180px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    padding-bottom: 20px;
}

#maps {width: 575px;
height: 384px;
margin-top: 110px;}


.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
